#assets {
    display: none;
}

.progress {
    border: 1px solid green;
  }
  
  .progress-bar {
    background-color: pink;
  }
  
  .progress-bar-danger {
    background-color: red;
  }
  .progress-bar-warning {
    background-color: orange;
  }
  .progress-bar-primary {
    background-color: blue;
  }
  .progress-bar-success {
    background-color: purple;
  }