<div class="container">
  <div class="row mb-4">
    <div class="col center">
      <h1>Don't Be Slain By The Hurricane</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="progress center">
        <div #progress class="progress-bar" role="progressbar" style="width: 0%"></div>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

<div class="center">
  <canvas #game width="{{WIDTH}}" height="{{HEIGHT}}"></canvas>
</div>

<div #assets id="assets">
  <img id="background1" (load)="assetLoaded()" src="assets/background.png" />
  <img id="background2" (load)="assetLoaded()" src="assets/garage.png" />
</div>
